[submodule "ThirdParty/vk2s"]
	path = ThirdParty/vk2s
	url = git@github.com:ichi-raven/vk2s.git
[submodule "ThirdParty/EC2S"]
	path = ThirdParty/EC2S
	url = git@github.com:ichi-raven/EC2S.git
[submodule "ThirdParty/ImGuizmo"]
	path = ThirdParty/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
[submodule "ThirdParty/ImFileBrowser"]
	path = ThirdParty/ImFileBrowser
	url = git@github.com:AirGuanZ/imgui-filebrowser.git
